@model WebMVC.ViewModels.PokemonViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pokemon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="PokemonAbilities" class="control-label"></label>
                <select asp-for="PokemonIntAbility">
                    <option>None</option>
                    @foreach (var ability in Model.PokemonAbilities)
                    {
                        if (Model.PokemonAbility is not null)
                        {
                            if (ability.Id == Model.PokemonAbility.Id)
                            {
                                <option value="@ability.Id" selected>@ability.Name</option>
                            }
                            else
                            {
                                <option value="@ability.Id"> @ability.Name</option>
                            }
                        }
                        else
                        {
                            <option value="@ability.Id"> @ability.Name</option>
                        }
                    }
                </select>
                <span asp-validation-for="PokemonAbilities" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="PokemonTypes" class="control-label"></label>
                <select asp-for="@Model.PokemonIntType1">
                    <option>none</option>
                    @foreach (var type in Model.PokemonTypes)
                    {
                        if (Model.PokemonType1 is not null)
                        {
                            if (@Model.PokemonType1.Id == type.Id)
                            {
                                <option value="@type.Id" selected>@type.Name</option>
                            }
                            else
                            {
                                <option value="@type.Id">@type.Name</option>
                            }
                        }
                        else
                        {
                            <option value="@type.Id">@type.Name</option>
                        }
                    }
                </select>

                <select asp-for="@Model.PokemonIntType2">
                    <option>none</option>
                    @foreach (var type in Model.PokemonTypes)
                    {
                        if (Model.PokemonType2 is not null)
                        {
                            if (@Model.PokemonType2.Id == type.Id)
                            {
                                <option value="@type.Id" selected>@type.Name</option>
                            }
                            else
                            {
                                <option value="@type.Id">@type.Name</option>
                            }
                        }
                        else
                        {
                            <option value="@type.Id">@type.Name</option>
                        }
                    }
                </select>
                <span asp-validation-for="PokemonTypes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
