@using ApiModelsResponse.ViewModels
@using Microsoft.AspNetCore.Mvc.Localization
@model List<TreinadorViewModel>
@inject IViewLocalizer localizer

<link rel="stylesheet" href="~/css/Trainers/index.css" />

@{
    ViewData["Title"] = localizer["listOftrainers"];
}

<a asp-action="Create" class="add-trainer-button">@localizer["addNewTrainer"]</a>

<table class="trainer-table">
    <thead>
        <tr>
            <th>@localizer["image"]</th>
            <th>@localizer["name"]</th>
            <th>@localizer["location"]</th>
            <th>@localizer["actions"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var treinador in Model)
        {
            <tr>
                <td><img src="@treinador.ImagePath" class="trainer-image" /></td>
                <td>@treinador.Name</td>
                <td>@treinador.Location</td>
                <td>
                    <a asp-action="Details" asp-route-treinadorId="@treinador.Id" class="action-button details-button">
                        @localizer["details"]
                    </a>

                    <a asp-action="Edit"
                       asp-route-Id="@treinador.Id"
                       asp-route-Name="@treinador.Name"
                       asp-route-Location="@treinador.Location"
                       asp-route-ImagePath="@treinador.ImagePath"
                       class="action-button edit-button">
                        @localizer["edit"]
                    </a>

                    <a asp-action="Delete"
                       asp-route-treinadorId="@treinador.Id"
                       class="action-button delete-button"
                       onclick="return confirm('Tem certeza que deseja excluir o treinador @treinador.Name? Esta ação não pode ser desfeita!');">
                        @localizer["delete"]
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>