@using ApiModelsResponse.ViewModels
@using Microsoft.AspNetCore.Mvc.Localization
@model List<TreinadorViewModel>
@inject IViewLocalizer localizer

@{
    ViewData["Title"] = localizer["listOftrainers"];
}

<style>
    .trainer-image {
        width: 100px; /* Ajuste conforme necessário */
        height: 100px; /* Ajuste conforme necessário */
        border-radius:50%;
    }
</style>
<a asp-action="Create" style="margin:20px;" class="btn btn-success mb-3">@localizer["addNewTrainer"]</a>

<table class="table table-dark" style="margin:20px;width:80vw;">
    <thead>
        <tr>
            <th>@localizer["image"]</th>
            <th>@localizer["name"]</th>
            <th>@localizer["location"]</th>
            <th>@localizer["actions"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var treinador in Model)
        {
            <tr>
                <td><img src="@treinador.ImagePath" class="trainer-image"/></td>
                <td>@treinador.Name</td>
                <td>@treinador.Location</td>
                <td>
                    <a asp-action="Details" asp-route-treinadorId="@treinador.Id" class="btn btn-primary btn-sm">
                        <i class="fas fa-eye"></i> @localizer["details"]
                    </a>

                    <a asp-action="Edit"
                       asp-route-Id="@treinador.Id"
                       asp-route-Name="@treinador.Name"
                       asp-route-Location="@treinador.Location"
                       asp-route-ImagePath="@treinador.ImagePath"
                       class="btn btn-warning btn-sm">
                        <i class="fas fa-edit"></i> @localizer["edit"]
                    </a>

                    <a asp-action="Delete"
                       asp-route-treinadorId="@treinador.Id"
                       class="btn btn-danger btn-sm"
                       onclick="return confirm('Tem certeza que deseja excluir o treinador @treinador.Name? Esta ação não pode ser desfeita!');">
                        <i class="fas fa-trash-alt"></i> @localizer["delete"]
                    </a>
                </td>


            </tr>
        }
    </tbody>
</table>
